/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary) !important;
  color: white;
  background: url(/img/navy-bg-log-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
  width: 100%;
}

.heroText{
  min-width: 50%;
}

.full{
  width: 100%;
  max-width: 100% !important; /* Order changes between dev and build so need to win */
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem 0 2rem 0;
  }
  .heroText{
    padding-bottom: 2rem !important;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
