/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary) !important;
  color: white;
  background: url(/img/cs-devsec-portal-bg-v1.jpg) repeat;
  min-height: 500px;
  width: 100%;
}

main {
  padding-left: 10em;
}

.invitation{
  border-left: 3px solid white;
}

.break{
  max-width: 75%;
}

.huhy{
  
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 calc(var(--ifm-spacing-horizontal) * -1);
}

.video, .audio{
  border: 1px solid black;
}

.event{
  border-radius: 15px;
  background-color:#292929;
  padding: .5em .5em .5em .5em !important;
  margin: 1em 1em 1em 1em;
  padding: 1em;
}

.meet{
  border-radius: 15px;
  background-color: slategray;
  padding: .5em .5em .5em .5em !important;
  margin: 1em 1em 1em 1em;
  padding: 1em;
} 

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
